<div class="row">
    <div class="col-sm-4 input-group">
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

    </div>


    <div class="col-sm-4 input-group">

        <ngb-timepicker [(ngModel)]="time" meridian="true"></ngb-timepicker>
    </div>
    <div class="col-sm-4 input-group">
      <pre>Selected time: {{time | json}}</pre>
      <pre>Month: {{ date.month }}.{{ date.year }}</pre>
      <pre>Model: {{ model | json }}</pre>
  </div>
</div>



<!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button> -->

